{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Longboarder</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ entity.location }}</td>
            </tr>
            <tr>
                <th>Discipline</th>
                <td>{{ entity.discipline }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ entity.age }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('dev_trw_lb_find_longboarder') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('dev_trw_lb_find_longboarder_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
